body {
    background: #e9e9ea;
    margin: 0;
	padding: 0;
}


.flex-container{
    display: flex;
	width: 100%;
	flex-wrap: nowrap;   
    flex-shrink: initial;
    flex-direction: row;
    justify-content: space-around;
    
}
p { 
    margin: 0;
    padding: 5px;
    font-size: medium;
}
.leftcolumn {
    background: #f44268;
    width: 30%;
    
}

.rightcolumn {
    background: #f4c242;
    width: 30%;

}

.one {
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 justify-content: space-around;
 width: 700px;
 
}

.two {
    background: #b26031;
    width: 300px;
    height: auto;
}

.three {
}

.four{
    background: #5ef441;
    width: 400px;
}

.five{
    background: #41b2f4;
    width: 400px;
}

.six {
background: #d341f4;
    width: 700px;
}

.seven {
    background: #ee41f4;
    width: 700px;
}

@media screen and (max-width: 700px) {
    .flex-container,.six,.seven {
        flex-wrap: wrap;
        flex-direction: column;
        
    }
    .one {
        flex-wrap: nowrap;
    }
}